body, main {
    display: flex;
    background-color : indigo;

  }
  body {
    flex-direction: column;
  }
  main {
    flex-direction: row;
    flex: auto;
  }
  article {
    flex: 2;
    background-color: rosybrown;
  }
   aside {
    flex: 1;
    background-color: cadetblue;
  }
   article, aside {
    overflow-y: auto;
  }