body, main {
    display: flex;
    background-color : rgb(180, 221, 228);

  }
  body {
    flex-direction: column;
  }
  main {
    flex-direction: row;
    flex: auto;
  }
  article {
    flex: 2;
    background-color: rgb(179, 119, 119);
  }
   aside {
    flex: 1;
    background-color: rgb(131, 100, 143);
  }
   article, aside {
    overflow-y: auto;
  }